*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug #app_header{
    background-color: lightblue;
    border: 1px solid black;
    
}
.debug > header > div {
    height: 1.5rem;
    background-color: orange;
    border: 1px dashed black;
    margin-top: 0.5rem;
}
.container {
    width: 62.5%;
    margin: auto;
    padding: 0.2rem;
}

.d-flex{
    display:flex;
}

.logo, .login{
    width: 20%;
    border: 1px dashed black;
    margin: auto;
}

.menu{
    width: 60%;
    text-align: center;
}

.ta-left{
    text-align: left;
} 

.ta-right{
    text-align: right;
}

.first-text {
    width: 48%;
    margin: auto;
    background-color: #ee82ee;
    border: 1px dashed black;
    height: 16rem;
   text-align: center;
}
/* main */

.debug .banner{
    height: 20rem;
    background-color: blue;
    border: 1px solid black;
}

.debug > main .section_first{
    height: 26rem;
    background-color: white;
    border: 1px solid black;
    width: 100%;
}

.debug > main .section_second{
    height: 26rem;
    background-color: #d3d3d3;
    border: 1px solid black;
    width: 100%;
}

.debug > main .section_third{
    height: 26rem;
    background-color: white;
    border: 1px solid black;
    width: 100%;
}

.debug > main .section_fourth{
    height: 44rem;
    background-color: #d3d3d3;
    border: 1px solid black;
    width: 100%;
}

.debug .green_section{
    background-color: #228b22;
    width: 62.5%;
    border: 1px dashed black;
    height: 40rem;
    margin: 2rem auto;
}


.content1, .content2, .content3{
    width: 62.5%;
    margin: 2rem auto;
}

.left{
    background-color: #1e90ff;
    float: left;
    width: calc((100% / 12) * 8);
    border: 1px dashed black;
}

.right{
    background-color: #ffc0cb;
    width: calc((100% / 12) * 4);
    border: 1px dashed black;    
}

.left, .right{
    display: inline-block;
    height: 22rem;
}

.leftgrey{
    background-color: #ffc0cb;
    width: calc((100% / 12) * 4);
}

.rightgrey{
    background-color: #1e90ff;
    float: right;
    width: calc((100% / 12) * 8);
}

.leftgrey, .rightgrey{
    display: inline-block;
    height: 22rem;
    border: 1px dashed black;
}



